body {
	font-family: "Fedra Serif B Book",Georgia;
	background-color: #F1F1F1;
	color: #1F1F1F;	
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 40px;
	font-size: 30px;
}

table {
	width: 100%;
	border-collapse:collapse;
}

tr {
	margin-bottom: 20px;
	text-align: left;
}

th {
	color: #297F79;
	text-align: left;
	/*width: 33.3%;*/
}

td {
	padding: 20px 20px 20px 0;
	vertical-align: bottom;
}

a {
	border-bottom: 1px solid #1f1f1f;
	border-color: #297F79;
	text-decoration: none;
	margin-right: 5px;
	text-transform: uppercase;
}

a:hover {
	border-color: #FD5158;
	cursor: pointer;
}

a:visited {
	color: #1F1F1F;
}

input {
	padding-bottom: 4px;
	background-color: transparent;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: #5D5D5D;
	font-size: 1.1em;
	width: 100%;
	font-family: "Fedra Serif B Book",Georgia;
	color: #1F1F1F;
}

input::-webkit-input-placeholder {
	color: #5D5D5D;
	font-family: "Fedra Serif B Book",Georgia;
}

input:focus {
	border-bottom-color: #FD5158;
	outline: 0;
}

/*input.ng-invalid {
	border-bottom-color: #FD5158;
}*/

.last {
	display: hidden;
}

 a.icon {
	border-bottom: none;
}

.icon-ok-sign:hover {
	color: #297F79;
}

.icon-ok-sign.active {
	color: #297F79;
}

.ui-datepicker-calendar a {
	font-size: 12px;
}