<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Skrivekonkurranse</title>
		<link rel="stylesheet" href="css/fonts.css" type="text/css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="css/score.css" type="text/css" media="screen" charset="utf-8">
		<script type="text/javascript" src="js/external/jquery-1.8.2.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>	
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-cookies.min.js"></script>		
		<script type="text/javascript" src="js/io.js"></script>
		<script type="text/javascript" src="js/app.js"></script>		
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	</head>
		<body ng-app="typeApp">
			<div class="container" ng-controller="ScoreCtrl">
				<div>
					<select ng-model="selectedEvent" ng-options="event.name for event in events" ng-change="update()"></select>
				</div>
				<table border="0">
					<thead>
						<tr>
							<th>Plass</th>
							<th>Navn</th>
							<th>Poeng</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="participant in selectedEvent.participants">
							<td>{{$index + 1}}</td>
							<td>{{participant.name}}</td>
							<td>{{participant.points}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</body>
<html>